.emoji-pleading-face {
  background-image: url("images/pleading-face.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
}
